Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

add footer
  src/app/layout.tsx
  src/app/team/[groupId]/page.tsx
  src/components/Footer.tsx
  src/components/aksel.ts
  src/db/prisma.ts
Due: yarn eslint --fix --max-warnings=0

add graph for overall score
  package.json
  src/app/page.tsx
  src/app/team/[groupId]/graph/page.tsx
  src/app/team/[groupId]/page.tsx
  src/components/errors/ErrorMessages.tsx
  src/components/graphs/OverallScoreGraph.tsx
  src/db/score.ts
  src/messages/message-builder.ts
  src/metrics/metrics.ts
  src/utils/score.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add header
  src/app/layout.tsx
  src/components/Header.tsx
  src/components/aksel-server.ts
  src/components/aksel.ts
  src/images/logo.png
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

prepare for production deployment
  nais.yml
Due: none

editable team name with server actions
  src/app/team/[groupId]/page.tsx
  src/components/aksel.ts
  src/components/edit/EditableTeamName.tsx
  src/components/edit/actions.ts
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

add team active-status on card
  src/components/TeamCard.tsx
Due: yarn eslint --fix --max-warnings=0

get team by ad association
  src/app/page.tsx
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

add husky and lint-staged
  .husky/pre-commit
  .lintstagedrc
  package.json
  scripts/postinstall.js
  yarn.lock
Due: yarn prettier --write

fix association command
  .env.development
  src/app/page.tsx
  src/commands/commands-handler.ts
Due: yarn eslint --fix --max-warnings=0

allow non-logged in users to view kom-i-gang, verify login on others
  src/app/kom-i-gang/grupper/page.tsx
  src/app/team/[groupId]/graph/page.tsx
  src/app/team/[groupId]/page.tsx
  src/auth/authentication.tsx
  src/components/LoggedInUser.tsx
Due: yarn eslint --fix --max-warnings=0

move bot code to bot folder
  .gitignore
  README.md
  src/bot/commands/commands-handler.ts
  src/bot/events/events-handler.ts
  src/bot/events/healthcheck/healthcheck-event-handler.ts
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/bot/events/modal-utils.ts
  src/bot/events/settings/settings-event-handler.ts
  src/bot/events/settings/settings-modal-builder.ts
  src/bot/index.ts
  src/bot/messages/message-builder.ts
  src/bot/messages/message-poster.ts
  src/bot/messages/message-scheduler.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

initial nextjs+bolt
  .gitignore
  Dockerfile
  nais.yml
  next-env.d.ts
  next-logger.config.js
  next.config.mjs
  package.json
  src/app/api/internal/is_alive/route.ts
  src/app/api/internal/is_ready/route.ts
  src/app/api/logger/route.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/bot/app.ts
  src/bot/index.ts
  src/commands/commands-handler.ts
  src/db/prisma.ts
  src/events/events-handler.ts
  src/events/healthcheck/healthcheck-event-handler.ts
  src/events/settings/settings-event-handler.ts
  src/events/settings/settings-modal-builder.ts
  src/health.ts
  src/index.ts
  src/logger.ts
  src/messages/message-builder.ts
  src/messages/message-poster.ts
  src/messages/message-scheduler.ts
  src/utils/date.ts
  src/utils/leader.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add fake logged in user view
  src/components/Header.tsx
  src/components/LoggedInUser.tsx
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add graph for per question score
  src/app/team/[groupId]/graph/page.tsx
  src/components/Footer.tsx
  src/components/graphs/OverallScoreGraph.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/metrics/metrics.ts
Due: yarn eslint --fix --max-warnings=0

add team card list
  src/app/page.tsx
  src/commands/commands-handler.ts
  src/components/TeamCard.tsx
  src/components/aksel-server.ts
Due: yarn eslint --fix --max-warnings=0

add favicon
  Dockerfile
  public/favicon.ico
Due: none

fetch user groups form ms graph
  src/app/kom-i-gang/grupper/page.tsx
  src/auth/fake-members-of-response.ts
  src/auth/ms-graph.ts
  src/components/aksel.ts
Due: yarn eslint --fix --max-warnings=0

poc: ms graph api??
  src/app/kom-i-gang/grupper/page.tsx
  src/app/kom-i-gang/page.tsx
  src/components/Footer.tsx
  src/components/aksel-server.ts
  src/components/core/LinkButton.tsx
Due: yarn eslint --fix --max-warnings=0

complete kom-i-gang page
  src/app/kom-i-gang/page.tsx
  src/app/page.tsx
  src/components/Header.tsx
  src/components/core/Code.tsx
  src/components/errors/ErrorMessages.tsx
  src/components/guide/HowToGuide.tsx
  src/components/guide/step1.png
  src/components/guide/step2.png
  src/components/guide/step3.png
  src/components/guide/step4.png
Due: yarn eslint --fix --max-warnings=0

get user from token
  .env.development
  .env.production
  nais-dev.yml
  src/auth/authentication.tsx
  src/auth/fake-token.ts
  src/components/LoggedInUser.tsx
Due: yarn eslint --fix --max-warnings=0

editable time and day with server actions
  src/app/team/[groupId]/page.tsx
  src/components/aksel.ts
  src/components/edit/EditableTime.tsx
  src/components/edit/actions.ts
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

show ad groups
  src/app/page.tsx
  src/auth/authentication.tsx
  src/commands/commands-handler.ts
  src/components/aksel.ts
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

add questions view
  src/app/layout.tsx
  src/app/team/[groupId]/page.tsx
Due: yarn eslint --fix --max-warnings=0

use link panel for graph
  src/app/team/[groupId]/page.tsx
  src/components/aksel.ts
Due: yarn eslint --fix --max-warnings=0

add nav menu
  src/app/kom-i-gang/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Header.tsx
Due: yarn eslint --fix --max-warnings=0

add tailwind and aksel
  package.json
  postcss.config.js
  src/app/global.css
  src/app/layout.tsx
  tailwind.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix data loading graphs when team has no Asked
  src/app/team/[groupId]/graph/page.tsx
  src/db/score.ts
Due: yarn eslint --fix --max-warnings=0

add team status toggle
  src/app/team/[groupId]/graph/page.tsx
  src/app/team/[groupId]/page.tsx
  src/components/TeamCard.tsx
  src/components/aksel.ts
  src/components/core/Dots.tsx
  src/components/edit/EditableStatus.tsx
  src/components/edit/actions.ts
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

better skeleton loading for ad groups
  src/app/kom-i-gang/grupper/page.tsx
  src/app/kom-i-gang/page.tsx
  src/app/team/[groupId]/page.tsx
  src/components/core/BackLink.tsx
  src/components/core/LinkButton.tsx
Due: yarn eslint --fix --max-warnings=0

add team view page
  src/app/page.tsx
  src/app/team/[groupId]/page.tsx
  src/auth/authentication.tsx
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

fix build, use yarn 4, node 20
  .github/workflows/deploy.yaml
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.3.1.cjs
  .yarn/releases/yarn-4.0.0.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --write

add auth and env handling
  Dockerfile
  nais-dev.yml
  next.config.mjs
  package.json
  src/app/api/internal/is_ready/route.ts
  src/app/page.tsx
  src/auth/authentication.tsx
  src/utils/env.ts
  src/utils/ts-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add ad_group association to db
  prisma/migrations/20231027135254_add_ad_group_assosiation/migration.sql
  prisma/schema.prisma
Due: none

support multiple teams in list view
  src/app/page.tsx
  src/components/TeamCard.tsx
Due: yarn eslint --fix --max-warnings=0

deploy to dev
  .github/workflows/deploy.yaml
  Dockerfile
  nais-dev.yml
  package.json
  src/app/page.tsx
  src/components/Header.tsx
  src/components/LoggedInUser.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add association command to bot
  src/commands/commands-handler.ts
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

add page metadata
  src/app/kom-i-gang/page.tsx
  src/app/page.tsx
  src/app/team/[groupId]/page.tsx
Due: yarn eslint --fix --max-warnings=0

add extra claims to prod
  nais.yml
Due: none

fix ms graph group authentication
  src/app/kom-i-gang/grupper/page.tsx
  src/app/team/[groupId]/graph/page.tsx
  src/app/team/[groupId]/page.tsx
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
  src/components/edit/actions.ts
Due: yarn eslint --fix --max-warnings=0

fix access to user's teams
  src/app/page.tsx
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0
