Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: min:2 replicas
  nais.yml
Due: none

chore: get log-patching to work with instrumentation
  Dockerfile
  next.config.mjs
  package.json
  src/app/layout.tsx
  src/instrumentation.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add better error logging to leader election code
  src/bot/messages/message-scheduler.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): upgrade all deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore: add some happy path logging to leader election
  src/utils/leader.ts
Due: yarn eslint --fix --max-warnings=0

chore: disable bun a bit
  .github/workflows/deploy.yaml
Due: none

chore(deps): bump deps, solves vuln alert (axios)
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump @slack/bolt and @navikt/next-logger
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: set database tier in nais.yml
  .github/workflows/deploy.yaml
  nais-dev.yml
  nais.yml
Due: none

chore: roll back prisma to 5.17.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore: log entire elector response to help debug elector-issue
  src/utils/leader.ts
Due: yarn eslint --fix --max-warnings=0

fix: use correct http method in readme for curl cmd
  README.md
Due: yarn prettier --write

fix: use correct http method in readme for curl cmd (#163)
  README.md
Due: yarn prettier --write

chore: Added in Trivy vulnerability scanner
  .github/workflows/deploy.yaml
Due: none

chore: Added in Trivy vulnerability scanner (#164)
  .github/workflows/deploy.yaml
Due: none

chore: dedicated build for dependabot
  .github/workflows/deploy.yaml
Due: none

chore: use old exploitable dependabot if
  .github/workflows/deploy.yaml
Due: none

chore(deps): skippertak
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bumping prod db tier to db-custom-1-3840
  nais.yml
Due: none

chore: bumping prod db tier to db-custom-1-3840 (#178)
  nais.yml
Due: none

fix: does nextjs fetch-cache affect leader election?
  src/utils/leader.ts
Due: yarn eslint --fix --max-warnings=0

fix typo
  src/bot/messages/message-builder.ts
Due: yarn eslint --fix --max-warnings=0

fix typo (#180)
  src/bot/messages/message-builder.ts
Due: yarn eslint --fix --max-warnings=0

chore: set yarn to 4.4.1
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore(deps): bump minors and patches
  package.json
  yarn.lock
Due: yarn prettier --write

Ta bort avhengigheter som ikke funker, bytt ut loggere med console
  .yarnrc.yml
  next-env.d.ts
  package.json
  src/app/admin/_admin-actions.ts
  src/app/api/internal/is_ready/restart/route.ts
  src/app/api/internal/is_ready/route.ts
  src/app/api/logger/route.tsx
  src/app/error.tsx
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
  src/bot/app.ts
  src/bot/bot-logger.ts
  src/bot/commands/commands-handler.ts
  src/bot/events/events-handler.ts
  src/bot/events/healthcheck/healthcheck-event-handler.ts
  src/bot/events/settings/settings-event-handler.ts
  src/bot/index.ts
  src/bot/messages/message-poster.ts
  src/bot/messages/message-scheduler.ts
  src/components/edit/AddQuestion.tsx
  src/components/edit/actions.ts
  src/components/graphs/ScorePerQuestion.tsx
  src/db/prisma.ts
  src/instrumentation.ts
  src/middleware.ts
  src/utils/leader.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: node 22 (now LTS)
  .lintstagedrc
  .mise.toml
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  Dockerfile
  next-env.d.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump minors/patches
  package.json
  yarn.lock
Due: yarn prettier --write

init
  .github/workflows/deploy.yaml
  .yarnrc.yml
  Dockerfile
  k8s/deployment.yaml
  nais-dev.yml
  nais.yml
  nodemon.json
  package-lock.json
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
  src/auth/userInfo.tsx
  src/bot/app.ts
  src/bot/messages/message-scheduler.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): migrate to @slack/bolt@4
  package.json
  src/bot/commands/commands-handler.ts
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/bot/events/modal-utils.ts
  src/bot/events/settings/settings-modal-builder.ts
  src/bot/messages/message-poster.ts
  src/utils/bolt-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: Revert "chore(deps): migrate to @slack/bolt@4"
  package.json
  src/bot/commands/commands-handler.ts
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/bot/events/modal-utils.ts
  src/bot/events/settings/settings-modal-builder.ts
  src/bot/messages/message-poster.ts
  src/utils/bolt-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): upgrade to @navikt/aksel@7
  package.json
  src/components/edit/DeletableQuestion.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
