Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: tweak bot cron logging
  src/bot/messages/message-scheduler.ts
Due: yarn eslint --fix --max-warnings=0

fix: refactor and test cron jobs
  src/bot/messages/message-jobs.ts
  src/bot/messages/message-scheduler.ts
  src/db/team.ts
  tests/frequency.test.ts
  tests/message-jobs.test.ts
  tests/message-scheduler.test.ts
  tests/tsconfig.json
  tests/utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add weeks to post display grid
  package.json
  src/app/team/[groupId]/[teamId]/page.tsx
  src/components/edit/EditableFrequency.tsx
  src/components/edit/EditableTeamName.tsx
  src/utils/frequency.ts
  src/utils/tw-utils.ts
  tailwind.config.js
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Delete nais-dev.yml
  nais-dev.yml
Due: none

Delete nais.yml
  nais.yml
Due: none

fix: some quirks with how weeks are handled
  src/components/edit/EditableFrequency.tsx
  src/utils/frequency.ts
  tests/frequency.test.ts
Due: yarn eslint --fix --max-warnings=0

feat: support year overflow of next date
  src/bot/messages/message-scheduler.ts
  src/components/edit/EditableFrequency.tsx
  src/utils/frequency.ts
  tests/frequency.test.ts
  tests/message-jobs.test.ts
Due: yarn eslint --fix --max-warnings=0

chore: tweak auto-focus, animate week highlights
  src/components/edit/DeletableQuestion.tsx
  src/components/edit/EditableFrequency.tsx
  src/components/edit/EditableTime.tsx
Due: yarn eslint --fix --max-warnings=0

fix: refactor cron code so that reveals are not linked to frequency
  src/bot/events/settings/settings-event-handler.ts
  src/bot/events/settings/settings-modal-builder.ts
  src/bot/messages/message-scheduler.ts
  src/components/edit/EditableFrequency.tsx
  src/db/team.ts
  src/utils/frequency.ts
  tests/frequency.test.ts
Due: yarn eslint --fix --max-warnings=0

fix nextOccurence, write tests for it using bun
  .github/workflows/deploy.yaml
  package.json
  src/bot/messages/message-scheduler.ts
  src/utils/date.ts
  src/utils/frequency.ts
  tests/frequency.test.ts
  tests/tsconfig.json
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style: tweak active ask section
  src/app/team/[groupId]/[teamId]/page.tsx
Due: yarn eslint --fix --max-warnings=0

feat: feature complete frequency adjustment
  src/app/team/[groupId]/[teamId]/page.tsx
  src/bot/messages/message-scheduler.ts
  src/components/aksel.ts
  src/components/edit/EditableFrequency.tsx
  src/components/edit/actions.ts
  src/db/team.ts
  src/utils/date.ts
  src/utils/frequency.ts
  src/utils/slack.ts
Due: yarn eslint --fix --max-warnings=0

feat: add info about next ask to the bot
  src/bot/events/settings/settings-event-handler.ts
  src/bot/events/settings/settings-modal-builder.ts
  src/components/edit/EditableFrequency.tsx
  src/utils/frequency.ts
Due: yarn eslint --fix --max-warnings=0

feat: add frequency with week skew
  prisma/migrations/20231031162305_add_frequency/migration.sql
  prisma/schema.prisma
  src/app/team/[groupId]/[teamId]/page.tsx
  src/bot/events/settings/settings-modal-builder.ts
  src/bot/messages/message-scheduler.ts
  src/components/edit/EditableFrequency.tsx
  src/components/edit/actions.ts
  src/db/team.ts
  src/utils/date.ts
  src/utils/frequency.ts
Due: yarn eslint --fix --max-warnings=0

chore: use bun 1.0.8 instead of canary
  .github/workflows/deploy.yaml
  package.json
  yarn.lock
Due: yarn prettier --write

Update deploy.yaml
  .github/workflows/deploy.yaml
Due: none

Update env.ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

fix: when frequency is weekly, week is always relevant
  src/utils/frequency.ts
  tests/frequency.test.ts
Due: yarn eslint --fix --max-warnings=0

fix: handle hour passed on wrong day correctly for weekly frequency
  src/utils/frequency.ts
  tests/frequency.test.ts
Due: yarn eslint --fix --max-warnings=0

chore: tweak cron active teams logging
  src/bot/messages/message-jobs.ts
Due: yarn eslint --fix --max-warnings=0

style: basic mobile friendlyness tweaks
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/LoggedInUser.tsx
  src/components/Stats.tsx
  src/components/TeamCard.tsx
Due: yarn eslint --fix --max-warnings=0

feat: basic admin page for debugging
  src/app/admin/page.tsx
  src/db/admin.ts
Due: yarn eslint --fix --max-warnings=0

chore: new ingress with middleware for handling auth and redirect
  nais.yml
  src/app/admin/page.tsx
  src/app/kom-i-gang/grupper/page.tsx
  src/app/layout.tsx
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/app/team/[groupId]/[teamId]/page.tsx
  src/auth/authentication.tsx
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

Create deployment.yaml
  deploy/deployment.yaml
Due: none

Create service.yaml
  deploy/service.yaml
Due: none

Create ingress.yaml
  deploy/ingress.yaml
Due: none

Create kustomization
  deploy/kustomization
Due: none
