Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): zod v4
  package.json
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump aksel
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump dev deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump runtime deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump runtime deps
  package.json
  src/app/admin/_admin-actions.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): migrate to recharts@v3 (major)
  package.json
  yarn.lock
Due: yarn prettier --write

chore: NAV→Nav
  README.md
  src/app/global-helse/page.tsx
  src/components/Header.tsx
  src/components/Stats.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix recharts@3 type issues
  src/components/graphs/GlobalScoreGraph.tsx
  src/components/graphs/OverallScoreGraph.tsx
  src/components/graphs/ScorePerQuestion.tsx
Due: yarn eslint --fix --max-warnings=0

feat: make global health graph only last 52 weeks
  src/components/graphs/GlobalScoreGraph.tsx
  src/db/score.ts
Due: yarn eslint --fix --max-warnings=0

fix: toggle switch on global graph
  src/app/global-helse/page.tsx
  src/components/graphs/GlobalScoreGraph.tsx
Due: yarn eslint --fix --max-warnings=0

chore: increase CPU request from 10m to 40m
  .nais/nais-prod.yaml
Due: none

Update nais-prod.yaml with scaling strategy and memory
  .nais/nais-prod.yaml
Due: none

chorr: increase memory request from 340Mi to 370Mi
  .nais/nais-prod.yaml
Due: none

chore(deps): bump everything
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove uuid lib, use crypto
  package.json
  src/questions/default.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: secured API endpoind for exporting JSON directly
  next-env.d.ts
  seed/seed.ts
  src/app/team/[groupId]/[teamId]/results/export/json/route.tsx
  src/app/team/[groupId]/[teamId]/results/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix slow-redact vuln"
  yarn.lock
Due: none

chore: bump yarn
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore: use tsm-workflows
  .github/workflows/deploy.yaml
Due: none

chore: node 24
  .mise.toml
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump @navikt deps
  .github/workflows/deploy.yaml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fix docker build
  .github/workflows/deploy.yaml
  Dockerfile
Due: none

chore(deps): upgrade all non-major deps
  .github/workflows/deploy.yaml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: attempt to get prisma to work
  Dockerfile
  next.config.ts
  package.json
  prisma/schema.prisma
  run.sh
  src/db/generated/browser.ts
  src/db/generated/client.ts
  src/db/generated/commonInputTypes.ts
  src/db/generated/enums.ts
  src/db/generated/internal/class.ts
  src/db/generated/internal/prismaNamespace.ts
  src/db/generated/internal/prismaNamespaceBrowser.ts
  src/db/generated/models.ts
  src/db/generated/models/Answer.ts
  src/db/generated/models/Asked.ts
  src/db/generated/models/Team.ts
  src/db/generated/wasm-edge-light-loader.mjs
  src/db/generated/wasm-worker-loader.mjs
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: back to the old ways (thicc docker image)
  Dockerfile
  next.config.mjs
  next.config.ts
  prisma/schema.prisma
  run.sh
  src/db/generated/internal/class.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix as={Link} usage (next 16 angy)
  src/app/team/[groupId]/[teamId]/page.tsx
  src/components/TeamCard.tsx
  src/components/core/AkselNextLinkPanel.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove illogical Yaxis for score per question per week graphs
  next-env.d.ts
  src/components/graphs/ScorePerQuestion.tsx
Due: yarn eslint --fix --max-warnings=0

chore: re-enable bun tests in GHA
  .github/workflows/deploy.yaml
Due: none

chore: fix bun tests (missing env)
  .github/workflows/deploy.yaml
Due: none

chore: increase memory request
  .nais/nais-prod.yaml
Due: none

chore: resolve react RSC vuln
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove elastic log shipping
  .nais/nais-prod.yaml
Due: none

feat: new question categories
  src/components/graphs/GlobalScoreGraph.tsx
  src/safe-types.ts
  src/utils/asked.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
