Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: bumped codeql-action to v3 (#100)
  .github/workflows/deploy.yaml
Due: none

chore: use @navikt/oasis
  package.json
  src/app/kom-i-gang/grupper/page.tsx
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
  src/bot/messages/message-scheduler.ts
  src/components/Teams.tsx
  src/components/edit/EditableFrequency.tsx
  src/components/edit/actions.ts
  src/components/graphs/GlobalScoreGraph.tsx
  src/components/graphs/OverallScoreGraph.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/db/stats.ts
  src/db/team.ts
  src/middleware.ts
  src/utils/frequency.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use @navikt/oasis (#57)
  package.json
  src/app/kom-i-gang/grupper/page.tsx
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
  src/bot/messages/message-scheduler.ts
  src/components/Teams.tsx
  src/components/edit/EditableFrequency.tsx
  src/components/edit/actions.ts
  src/components/graphs/GlobalScoreGraph.tsx
  src/components/graphs/OverallScoreGraph.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/db/stats.ts
  src/db/team.ts
  src/middleware.ts
  src/utils/frequency.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: update links pointing to intern.nav.no still
  src/app/kom-i-gang/page.tsx
  src/bot/events/settings/settings-modal-builder.ts
  src/components/guide/HowToGuide.tsx
Due: yarn eslint --fix --max-warnings=0

fix: adjust some text labels
  src/components/edit/EditableFrequency.tsx
  src/components/edit/EditableTime.tsx
Due: yarn eslint --fix --max-warnings=0

fix: adjust some text labels (#103)
  src/components/edit/EditableFrequency.tsx
  src/components/edit/EditableTime.tsx
Due: yarn eslint --fix --max-warnings=0

fix: lockfile
  yarn.lock
Due: none

fix: default page size for membersOf is 100 🥵 set it to 999
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): upgrade yarn to 4.3.1
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore(deps): bump non breaking deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore: use noStore() instead of hack
  src/components/Stats.tsx
Due: yarn eslint --fix --max-warnings=0

fix: add optimizePackageImports for aksel, gives 1/3rd bundle size
  next.config.mjs
Due: none

chore(deps): dedupe and upgrade transitive deps
  package.json
  yarn.lock
Due: yarn prettier --write

fix: are bun tests in GHA runnable again?
  .github/workflows/deploy.yaml
Due: none

fix: are bun tests in GHA runnable again? (#131) [skip ci]
  .github/workflows/deploy.yaml
Due: none

chore: setup tests for team timeline scoring
  tests/score.test.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): migrate to remeda 2
  next.config.mjs
  package.json
  src/app/kom-i-gang/grupper/page.tsx
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/app/team/[groupId]/[teamId]/page.tsx
  src/app/team/[groupId]/[teamId]/results/page.tsx
  src/bot/events/healthcheck/healthcheck-event-handler.ts
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/bot/events/modal-utils.ts
  src/bot/messages/message-builder.ts
  src/components/edit/AddQuestion.tsx
  src/components/graphs/GlobalScoreGraph.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/metrics/metrics.ts
  src/utils/frequency.ts
  src/utils/remeda.ts
  src/utils/ts-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: co-locate tests (try not to import bun types in app code)
  package.json
  src/bot/messages/message-jobs.test.ts
  src/bot/messages/message-scheduler.test.ts
  src/db/score.test.ts
  src/utils/frequency.test.ts
  tests/tsconfig.json
  tests/utils.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: metrics.test.ts [skip ci]
  src/db/score.test.ts
  src/metrics/metrics.test.ts
  tests/data.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): migrate to remeda 2 (#130)
  next.config.mjs
  package.json
  src/app/kom-i-gang/grupper/page.tsx
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/app/team/[groupId]/[teamId]/page.tsx
  src/app/team/[groupId]/[teamId]/results/page.tsx
  src/bot/events/healthcheck/healthcheck-event-handler.ts
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/bot/events/modal-utils.ts
  src/bot/messages/message-builder.ts
  src/components/edit/AddQuestion.tsx
  src/components/graphs/GlobalScoreGraph.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/metrics/metrics.ts
  src/utils/frequency.ts
  src/utils/remeda.ts
  src/utils/ts-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: give custom questions a "required" toggle
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/components/edit/AddQuestion.tsx
  src/components/edit/DeletableQuestion.tsx
  src/components/edit/actions.ts
  src/db/team.ts
  src/safe-types.ts
Due: yarn eslint --fix --max-warnings=0

feat: support optional questions in slack questionaire-modal
  src/app/api/internal/is_ready/bot.ts
  src/app/api/internal/is_ready/restart/route.ts
  src/app/api/internal/is_ready/route.ts
  src/bot/events/healthcheck/healthcheck-event-handler.ts
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/bot/index.ts
Due: yarn eslint --fix --max-warnings=0

feat: display optional questions in slack summary (if 3 or more answers)
  src/app/api/internal/is_ready/bot.ts
  src/bot/index.ts
  src/bot/messages/message-builder.ts
  src/metrics/metrics.test.ts
  src/metrics/metrics.ts
  tests/data.ts
Due: yarn eslint --fix --max-warnings=0

feat: support optional responses in web ui, don't diff against non-sufficient answers
  src/app/team/[groupId]/[teamId]/results/page.tsx
  src/bot/messages/message-builder.ts
  src/db/score.ts
Due: yarn eslint --fix --max-warnings=0

chore: update seed with optional question data
  seed/seed.ts
  src/app/team/[groupId]/[teamId]/results/page.tsx
Due: yarn eslint --fix --max-warnings=0

feat: support null values on per question graph
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/metrics/metrics.ts
  src/safe-types.ts
Due: yarn eslint --fix --max-warnings=0

fix: don't require active team to view graphs
  src/db/score.ts
Due: yarn eslint --fix --max-warnings=0

chore: enable instrumentation in prod
  nais.yml
Due: none

chore: bumped memory in prod
  nais.yml
Due: none

chore: bumped memory in prod (#132)
  nais.yml
Due: none

chore: get log-patching to work with instrumentation
  Dockerfile
  next.config.mjs
  package.json
  src/app/layout.tsx
  src/instrumentation.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: min:2 replicas
  nais.yml
Due: none
