Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

read azure things
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

middleware file
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

next auth
  bun.lockb
  next-env.d.ts
  package.json
  src/auth/authentication.tsx
  src/components/LoggedInUser.tsx
  src/components/Teams.tsx
  src/middleware.ts
  src/pages/api/auth/[...nextauth].js
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix?
  src/app/kom-i-gang/grupper/page.tsx
Due: yarn eslint --fix --max-warnings=0

aa
  bun.lockb
  package.json
  src/components/graphs/ScorePerQuestion.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

strict off
  package.json
  src/components/graphs/ScorePerQuestion.tsx
  tsconfig.json
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

yarn lock
  package.json
  yarn.lock
Due: yarn prettier --write

disable tests
  .github/workflows/deploy.yaml
  package.json
  tests/frequency.test.ts
  tests/message-jobs.test.ts
  tests/message-scheduler.test.ts
  tests/tsconfig.json
  tests/utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

yarn
  .github/workflows/deploy.yaml
Due: none

maxlisteners increased
  src/app/api/internal/is_ready/route.ts
Due: yarn eslint --fix --max-warnings=0

listeners
  nais.yml
  src/app/api/internal/is_ready/route.ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

next auth secret
  src/app/api/internal/is_ready/route.ts
  src/pages/api/auth/[...nextauth].js
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

next auth url
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

no redirecturl
  src/auth/authentication.tsx
  src/components/LoggedInUser.tsx
  src/components/Teams.tsx
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

point to signin
  src/auth/authentication.tsx
  src/components/LoggedInUser.tsx
  src/components/Teams.tsx
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

callback
  .env.development
  src/pages/api/auth/[...nextauth].js
Due: yarn prettier --write

remove middleware
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

debug
  src/pages/api/auth/[...nextauth].js
Due: yarn prettier --write

remove some env vars
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

remove bot debug
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

try signin function
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

test
  src/pages/api/auth/[...nextauth].js
  src/pages/api/auth/[...nextauth].ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

callback url
  src/auth/authentication.tsx
  src/pages/api/auth/[...nextauth].ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

proxy agent
  src/pages/api/auth/[...nextauth].ts
Due: yarn eslint --fix --max-warnings=0

try https-proxy-agent
  package.json
  src/pages/api/auth/[...nextauth].ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

patch in proxy agent
  .yarn/patches/next-auth-npm-4.24.5-8428e11927.patch
  package.json
  src/pages/api/auth/[...nextauth].ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove next-logger.config.js
  Dockerfile
  next-logger.config.js
Due: yarn prettier --write

try to remove logger
  .gitignore
  seed/seed.ts
  src/app/admin/_admin-actions.ts
  src/app/api/internal/is_ready/route.ts
  src/app/api/logger/route.tsx
  src/app/error.tsx
  src/app/layout.tsx
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
  src/bot/app.ts
  src/bot/bot-logger.ts
  src/bot/commands/commands-handler.ts
  src/bot/events/events-handler.ts
  src/bot/events/healthcheck/healthcheck-event-handler.ts
  src/bot/events/settings/settings-event-handler.ts
  src/bot/index.ts
  src/bot/messages/message-jobs.ts
  src/bot/messages/message-poster.ts
  src/bot/messages/message-scheduler.ts
  src/components/edit/AddQuestion.tsx
  src/components/edit/actions.ts
  src/db/prisma.ts
  src/utils/leader.ts
Due: yarn eslint --fix --max-warnings=0

next-logger removed
  Dockerfile
  next.config.mjs
  package.json
  src/app/api/logger/route.tsx
  src/bot/app.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

proxy-agent
  .yarn/patches/next-auth-npm-4.24.5-8428e11927.patch
  package.json
  src/bot/app.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix
  .yarn/patches/next-auth-npm-4.24.5-8428e11927.patch
Due: none

yarn lock
  yarn.lock
Due: none

bolt 3.15
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --write

remove patch
  .yarn/patches/next-auth-npm-4.24.5-8428e11927.patch
  package.json
  yarn.lock
Due: yarn prettier --write

--trace-warnings
  Dockerfile
Due: none

testing
  src/bot/index.ts
Due: yarn eslint --fix --max-warnings=0

test
  next.config.mjs
  package.json
  src/bot/app.ts
  src/bot/index.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use node 18?
  Dockerfile
  next.config.mjs
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

21?
  .yarn/releases/yarn-4.0.1.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  Dockerfile
  bun.lockb
  package.json
Due: yarn prettier --write

surely
  .github/workflows/deploy.yaml
Due: none

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
