Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

function call
  src/auth/ms-graph.ts
Due: yarn eslint --fix --max-warnings=0

try json
  src/auth/ms-graph.ts
Due: yarn eslint --fix --max-warnings=0

refrsh token
  next-auth.d.ts
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

use tenant id
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

encode secret
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

no image
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

signin expiresat
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
Due: yarn eslint --fix --max-warnings=0

just true
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

no debug
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

extend interface
  next-auth.d.ts
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

null accesstoken if expired
  src/app/kom-i-gang/grupper/page.tsx
  src/auth/authentication.tsx
Due: yarn eslint --fix --max-warnings=0

If getMembersOf fetch fails, redirect to login
  src/auth/ms-graph.ts
Due: yarn eslint --fix --max-warnings=0

poc: optional questions
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/components/edit/DeletableQuestion.tsx
  src/components/edit/actions.ts
  src/db/team.ts
  src/safe-types.ts
Due: yarn eslint --fix --max-warnings=0

use @main for workflows now that node 20 is default [skip ci]
  .github/workflows/deploy.yaml
Due: none

Vis distribusjon av svarene per spørsmål
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/metrics/metrics.ts
  src/safe-types.ts
Due: yarn eslint --fix --max-warnings=0

Vis distribusjon av svarene per spørsmål (#52)
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/metrics/metrics.ts
  src/safe-types.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix build
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
Due: yarn eslint --fix --max-warnings=0

Bruk samme tekstene som når man lager spørsmålene
  src/components/graphs/ScorePerQuestion.tsx
Due: yarn eslint --fix --max-warnings=0

Bruk samme tekstene som når man lager spørsmålene (#53)
  src/components/graphs/ScorePerQuestion.tsx
Due: yarn eslint --fix --max-warnings=0

Sorter scoring etter reduce
  src/db/score.ts
Due: yarn eslint --fix --max-warnings=0

Sorter scoring etter reduce (#54)
  src/db/score.ts
Due: yarn eslint --fix --max-warnings=0

chore: update README.md with PAT instructions [skip ci]
  README.md
Due: yarn prettier --write

chore: fix typos in readme [skip ci]
  README.md
Due: yarn prettier --write

chore: update README.md [skip ci]
  README.md
Due: yarn prettier --write

mark active ask as skipped if team is disabled during active ask
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

remove accessory image
  src/bot/messages/message-builder.ts
Due: yarn eslint --fix --max-warnings=0

chore: tweak title of one of the default questions
  .github/workflows/deploy.yaml
  src/questions/default.ts
Due: yarn eslint --fix --max-warnings=0

docs: explain what it is in readme
  README.md
Due: yarn prettier --write

chore: tweak dependabot.yaml [skip ci]
  .github/dependabot.yml
Due: none

chore: fix ip vuln
  yarn.lock
Due: none

chore: use @navikt/oasis
  .github/workflows/deploy.yaml
  package.json
  src/app/kom-i-gang/grupper/page.tsx
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
  src/bot/messages/message-scheduler.ts
  src/components/Teams.tsx
  src/components/edit/EditableFrequency.tsx
  src/components/edit/actions.ts
  src/components/graphs/GlobalScoreGraph.tsx
  src/components/graphs/OverallScoreGraph.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/db/score.ts
  src/db/stats.ts
  src/db/team.ts
  src/middleware.ts
  src/utils/frequency.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: bun tests
  .github/workflows/deploy.yaml
Due: none

fix: bun tests (#79)
  .github/workflows/deploy.yaml
Due: none

chore(deps): skippertak-bump
  package.json
  scripts/postinstall.js
  yarn.lock
Due: yarn prettier --write

fix: init prisma lazily
  .github/workflows/deploy.yaml
  Dockerfile
  seed/seed.ts
  src/bot/commands/commands-handler.ts
  src/db/admin.ts
  src/db/answer.ts
  src/db/asked.ts
  src/db/prisma.ts
  src/db/score.ts
  src/db/stats.ts
  src/db/team.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): skippertak-bump (#80)
  .github/workflows/deploy.yaml
  Dockerfile
  package.json
  scripts/postinstall.js
  seed/seed.ts
  src/bot/commands/commands-handler.ts
  src/db/admin.ts
  src/db/answer.ts
  src/db/asked.ts
  src/db/prisma.ts
  src/db/score.ts
  src/db/stats.ts
  src/db/team.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bumped codeql-action to v3
  .github/workflows/deploy.yaml
Due: none

chore: newest bun in tests action
  .github/workflows/deploy.yaml
Due: none

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
