Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

Update deploy.yaml
  .github/workflows/deploy.yaml
Due: none

Delete deploy directory
  deploy/deployment.yaml
  deploy/ingress.yaml
  deploy/kustomization
  deploy/service.yaml
Due: none

feat: allow admin to disable team on admin page
  src/app/admin/_admin-actions.ts
  src/app/admin/_admin-team-toggler.tsx
  src/app/admin/page.tsx
Due: yarn eslint --fix --max-warnings=0

handle old ingress in middleware from nais headers
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

fix: handle old ingress in middleware from nais headers
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

feat: add page for displaying all previous results
  seed/seed.ts
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/app/team/[groupId]/[teamId]/page.tsx
  src/app/team/[groupId]/[teamId]/results/page.tsx
  src/db/score.ts
  src/metrics/metrics.ts
Due: yarn eslint --fix --max-warnings=0

style: tweak skeleton state for results page
  src/app/team/[groupId]/[teamId]/results/page.tsx
Due: yarn eslint --fix --max-warnings=0

fix: seperate envs on deploy
  .env.production
  .github/workflows/deploy.yaml
Due: none

feat: add diffs to resultater page
  package.json
  src/app/team/[groupId]/[teamId]/results/page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

change prisma db url env ref
  prisma/schema.prisma
Due: none

chore: add env to deploy jobs [skip ci]
  .github/workflows/deploy.yaml
Due: none

loglevel debug
  .gitignore
  bun.lockb
  bunfig.toml-example
  src/app/error.tsx
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

dont use NAV custom logger
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

test
  src/bot/app.ts
  src/components/Footer.tsx
Due: yarn eslint --fix --max-warnings=0

lol
  src/app/kom-i-gang/grupper/page.tsx
Due: yarn eslint --fix --max-warnings=0

fix: lol (#49)
  src/app/kom-i-gang/grupper/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix env name on deploy [skip ci]
  .github/workflows/deploy.yaml
Due: none

feat: make group searchable
  src/app/kom-i-gang/grupper/page.tsx
  src/components/groups/SortableGroups.tsx
Due: yarn eslint --fix --max-warnings=0

fix: visual bug on admin page
  src/app/admin/page.tsx
  src/utils/slack.ts
Due: yarn eslint --fix --max-warnings=0

feat: add dashboardedness to admin page
  src/app/admin/page.tsx
Due: yarn eslint --fix --max-warnings=0

logger
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

test rewrite
  next.config.mjs
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

full slack url
  .husky/pre-commit
  .yarnrc.yml
  bun.lockb
  next.config.mjs
  package.json
  src/bot/app.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Revert "full slack url"
  .husky/pre-commit
  .yarnrc.yml
  bun.lockb
  next.config.mjs
  package.json
  src/bot/app.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

url
  next.config.mjs
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

undici
  .husky/pre-commit
  next.config.mjs
  package.json
  src/bot/app.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

aaa
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

test
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

-
  src/bot/app.ts
Due: yarn eslint --fix --max-warnings=0

proxyagent
  package.json
  src/bot/app.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
