Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --no-ignore --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --no-ignore --fix --max-warnings=0"
}

feat: new question categories
  src/components/graphs/GlobalScoreGraph.tsx
  src/safe-types.ts
  src/utils/asked.ts
Due: yarn eslint --no-ignore --fix --max-warnings=0

fix: include new question category in feedback modal
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
Due: yarn eslint --no-ignore --fix --max-warnings=0

feat: let users delete active asks if they are unrevealed
  src/app/team/[groupId]/[teamId]/page.tsx
  src/bot/messages/message-poster.ts
  src/components/edit/DeletableActiveAsk.tsx
  src/components/edit/actions.ts
  src/db/asked.ts
Due: yarn eslint --no-ignore --fix --max-warnings=0

fix: correctly get active ask in deletion
  src/components/edit/actions.ts
Due: yarn eslint --no-ignore --fix --max-warnings=0

fix: delete answers also when deleting asked
  src/db/asked.ts
Due: yarn eslint --no-ignore --fix --max-warnings=0

fix: use correct section for section health
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
Due: yarn eslint --no-ignore --fix --max-warnings=0

chore: tweak text
  src/bot/messages/message-builder.ts
Due: yarn eslint --no-ignore --fix --max-warnings=0

chore: bump yarn
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.13.0.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore(deps): bump transitive axios
  yarn.lock
Due: none

chore: bump yarn
  .nais/nais-dev.yaml
  .yarn/releases/yarn-4.13.0.cjs
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump checkout action
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore: bump everything, drop bun, use vitest
  next-env.d.ts
  package.json
  seed/seed.ts
  src/bot/messages/message-jobs.test.ts
  src/bot/messages/message-scheduler.test.ts
  src/db/generated/client.ts
  src/db/generated/internal/class.ts
  src/db/generated/internal/prismaNamespace.ts
  src/db/generated/internal/prismaNamespaceBrowser.ts
  src/db/generated/models/Answer.ts
  src/db/generated/models/Asked.ts
  src/db/generated/models/Team.ts
  src/db/score.test.ts
  src/metrics/metrics.test.ts
  src/utils/frequency.test.ts
  tests/utils.ts
  vitest.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --no-ignore --fix --max-warnings=0

chore: fix prisma runtime
  .github/workflows/deploy.yaml
  Dockerfile
  package.json
  seed/tsconfig.json
  yarn.lock
Due: yarn prettier --write

chore: bump yarn, use corepack
  .yarn/releases/yarn-4.16.0.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore: bump yarn
  .yarn/releases/yarn-4.16.0.cjs
  .yarn/releases/yarn-4.17.0.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore: bump dev deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore: checkout@v7 for everyone
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore: increase memory request
  .nais/nais-prod.yaml
Due: yarn prettier --write

chore: Adjust CPU resource limits and requests in prod
  .nais/nais-prod.yaml
Due: yarn prettier --write

chore: using distroless docker images
  Dockerfile
Due: none

chore: revert, use node:24-alpine images but with sha256
  Dockerfile
Due: none

chore: remove the FROM
  Dockerfile
Due: none

chore: bump the deps (#321)
  Dockerfile
Due: none

chore: update yarn
  .yarn/releases/yarn-4.17.0.cjs
  .yarn/releases/yarn-4.18.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: bump all minors and patches
  next-env.d.ts
  package.json
  src/bot/events/healthcheck/healthcheck-event-handler.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --no-ignore --fix --max-warnings=0

chore: bump postgres version from 14 to 16
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  package.json
Due: yarn prettier --write

chore: bump postgres version from 14 to 16 (#322)
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  package.json
Due: yarn prettier --write

chore: bump docker image
  Dockerfile
Due: none

chore: bump both docker images
  Dockerfile
Due: none

chore: bump the openssl version
  Dockerfile
Due: none

chore: bump the docker files
  Dockerfile
Due: none

chore: bump the docker image (#324)
  Dockerfile
Due: none

chore: fix some vulnerabilities
  package.json
Due: yarn prettier --write

chore: update lock file
  yarn.lock
Due: none

chore: fix some vulnerabilities (#325)
  package.json
  yarn.lock
Due: yarn prettier --write
