Repository navikt/helsesjekk-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): upgrade to @navikt/aksel@7
  package.json
  src/components/edit/DeletableQuestion.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use newest yarn
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore(deps): upgrade to prisma v6
  package.json
  yarn.lock
Due: yarn prettier --write

chore: next 15, react 19, +more bumps
  next-env.d.ts
  next.config.mjs
  package.json
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/app/team/[groupId]/[teamId]/page.tsx
  src/app/team/[groupId]/[teamId]/results/page.tsx
  src/auth/authentication.tsx
  src/auth/ms-graph.ts
  src/components/LoggedInUser.tsx
  src/components/Teams.tsx
  src/instrumentation.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: two new question categories for custom questions
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/components/graphs/GlobalScoreGraph.tsx
  src/safe-types.ts
  src/utils/asked.ts
Due: yarn eslint --fix --max-warnings=0

feat: add link to graph from slack message
  src/bot/messages/message-builder.ts
Due: yarn eslint --fix --max-warnings=0

chore: link buttons need to be ack'd
  src/bot/events/healthcheck/healthcheck-event-handler.ts
  src/bot/messages/message-builder.ts
Due: yarn eslint --fix --max-warnings=0

feat: hide non-active questions by default
  package.json
  src/app/layout.tsx
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/components/graphs/OnlyCurrentQuestionsToggle.tsx
  src/components/graphs/only-current-search-params.ts
  src/db/score.ts
  src/safe-types.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: does bun tests run in GHA now?
  .github/workflows/deploy.yaml
Due: none

chore(deps): bump aksel and next
  package.json
  yarn.lock
Due: yarn prettier --write

feat: show associated group on team view
  .github/workflows/deploy.yaml
  src/app/team/[groupId]/[teamId]/page.tsx
  src/auth/ms-graph.ts
Due: yarn eslint --fix --max-warnings=0

chore: reduce resource requests for production
  nais.yml
Due: none

chore: reduce cpu resource requests for production
  nais.yml
Due: none

chore(deps): bump patches/minors
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fix nais deploy
  .github/workflows/deploy.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: none

chore: tailwind v4 migration
  nodemon.json
  package.json
  postcss.config.js
  postcss.config.mjs
  src/app/admin/page.tsx
  src/app/global.css
  src/app/team/[groupId]/[teamId]/graph/page.tsx
  src/app/team/[groupId]/[teamId]/page.tsx
  src/app/team/[groupId]/[teamId]/results/page.tsx
  src/components/Stats.tsx
  src/components/core/Code.tsx
  src/components/edit/AddQuestion.tsx
  src/components/edit/EditableFrequency.tsx
  src/components/edit/EditableStatus.tsx
  src/components/edit/EditableTeamName.tsx
  src/components/edit/EditableTime.tsx
  src/components/graphs/GlobalScoreGraph.tsx
  src/components/graphs/OverallScoreGraph.tsx
  src/components/graphs/ScorePerQuestion.tsx
  src/components/groups/SortableGroups.tsx
  tailwind.config.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: @navikt/next-logger v3
  next-logger.config.js
  package.json
  src/app/api/logger/route.tsx
  src/app/team/[groupId]/[teamId]/page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): migrate to @slack/bolt@4, attempt 2 (5 months later)
  package.json
  src/bot/commands/commands-handler.ts
  src/bot/events/healthcheck/healthcheck-modal-builder.ts
  src/bot/events/modal-utils.ts
  src/bot/events/settings/settings-modal-builder.ts
  src/bot/messages/message-poster.ts
  src/utils/bolt-utils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: date-fns v4 and some other stuff
  package.json
  yarn.lock
Due: yarn prettier --write

chore: transitive deps and dedupe
  yarn.lock
Due: none

chore: newest yarn
  .yarn/releases/yarn-4.5.3.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore(deps): bump aksel and @navikt/next-logger
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump dev deps
  .husky/pre-commit
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump runtime deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fix docker build (bad husky)
  package.json
Due: yarn prettier --write

chore(deps): bump yarn
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/releases/yarn-4.9.2.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore(deps): bump @navikt deps (including aksel)
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): fix form-data vuln
  yarn.lock
Due: none

chore(deps): eslint v9
  eslint.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump prisma
  .github/workflows/deploy.yaml
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump misc
  package.json
  yarn.lock
Due: yarn prettier --write

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
